body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: linear-gradient(nulldeg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    justify-content: center;
    align-items: center;
    padding: 30px 55px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

div.div-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border: 1px solid #d1d1d1;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #7657D2;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #513b92;
}

input:focus {
    outline: none;
    border-color: #7657D2;
}

header {
    background: linear-gradient(285deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    border: none;
    color: white;
}