body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td,
tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #886fd3;
    color: white;
}